:host {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@media only screen and (max-width: 600px) {
  :host {
    position: inherit;
    display: flex;
    width: 100%;
  }

  button {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
