<div class="card">
  <div class="card-content">
    <table *ngIf="issues.length > 0; else noItems">
      <tr class="header">
        <th
          [class]="tableState.orderBy === header.sortProp ? 'selected' : ''"
          *ngFor="let header of tableHeaders"
          (click)="headerClicked(header.sortProp)"
        >
          {{ header.label }}
          <span *ngIf="tableState.orderBy === header.sortProp">
            | {{ tableState.direction | uppercase }}</span
          >
        </th>
      </tr>
      <tr *ngFor="let issue of issues">
        <td *ngFor="let header of tableHeaders">{{ issue[header.value] }}</td>
      </tr>
    </table>

    <ng-template #noItems>
      No items to show, upload a file to continue
    </ng-template>
  </div>
  <div id="tableactions" class="card-actions" *ngIf="issues.length > 0">
    <button
      id="btnpagereset"
      [disabled]="tableState.page === 1"
      (click)="setPage(1)"
    >
      <<
    </button>

    <button
      id="btnprevpage"
      [disabled]="tableState.page === 1"
      (click)="setPage(tableState.page - 1)"
    >
      <
    </button>

    <button
      id="btnnextpage"
      [disabled]="tableState.page === tableState.totalPages"
      (click)="setPage(tableState.page + 1)"
    >
      >
    </button>
  </div>
  <div id="tablepageinfo" class="card-actions" *ngIf="issues.length > 0">
    Page {{ tableState.page }} / {{ tableState.totalPages }} |
    {{ (tableState.page - 1) * tableState.pageSize + 1 }} -
    {{
      tableState.page === tableState.totalPages
        ? tableState.totalItems
        : tableState.page * tableState.pageSize
    }}
    of {{ tableState.totalItems }}
  </div>
</div>
